@import './font-awesome/scss/fontawesome.scss'
@import './font-awesome/scss/solid.scss'
@import './font-awesome/scss/brands.scss'
    
// Colors
$primary-blue: hsl(223, 87%, 63%)
$secondary-pale-blue: hsl(223, 100%, 88%)
$secondary-light-red: hsl(354, 100%, 66%)
$neutral-gray: hsl(0, 0%, 59%)
$neutral-very-dark-blue: hsl(209, 33%, 12%)
    
// Font
$font-family: "Libre Franklin", sans-serif
$font-size: 20px
$font-weight-light: 300
$font-weight-bold: 700

// Media screen size
$media-breakpoint: 768px

body
    display: flex
    flex-direction: column
    align-items: center
    font-family: $font-family
    font-size: $font-size

header
    margin-top: 4.5rem

    @media screen and (min-width: $media-breakpoint)
        font-size: 32px

main
    margin-bottom: 7.3rem

    @media screen and (min-width: $media-breakpoint)
        margin-bottom: 4.5rem

section
    display: flex
    flex-direction: column
    align-items: center

section form
    display: flex
    flex-direction: column
    align-items: center
    margin: 2rem

    @media screen and (min-width: $media-breakpoint)
        flex-direction: row
        margin: 2rem 0rem
        max-width: 40rem

h1
    font-size: 20px
    align-self: center
    margin-top: 2.4rem
    letter-spacing: 1px

    @media screen and (min-width: $media-breakpoint)
        font-size: 46px
        margin-top: 2.6rem
        margin-bottom: 1.2rem

h2
    font-size: 12px
    font-weight: $font-weight-light
    align-self: center
    margin: 0rem

    @media screen and (min-width: $media-breakpoint)
        font-size: 20px
    
button 
    background-color: $primary-blue
    height: 2.6rem
    min-width: 17.5rem
    border-radius: 30px
    margin: 0.7rem
    border-width: thin
    border-color: $primary-blue
    border-style: solid
    box-shadow: 1px 10px 10px $secondary-pale-blue

    &:hover
        cursor: pointer

    @media screen and (min-width: $media-breakpoint)
        min-width: 12.5rem
        height: 3.5rem
        margin-top: 0.5rem
        margin-right: 0rem

button p
    color: white
    margin-top: 0.7rem

    @media screen and (min-width: $media-breakpoint)
        margin-top: 1rem
        font-size: 17px
        letter-spacing: 0.5px

input
    font-size: 12px
    height: 2.2rem
    min-width: 15.2rem
    border-radius: 30px
    border-width: thin
    border-color: $secondary-pale-blue
    border-style: solid
    border: thin solid $secondary-pale-blue
    text-align: left
    padding-left: 1.8rem

    &::placeholder
        color: $neutral-gray
        font-weight: $font-weight-light
        opacity: 40%

    &:focus
        outline: none
        border-color: $primary-blue

    &.invalid
        border-color: red

    @media screen and (min-width: $media-breakpoint)
        font-size: 17px
        height: 3.2rem
        margin-bottom: 0.3rem
        width: 24rem
        margin-right: 0.5rem

footer i:first-child
    padding: 0.9rem 0.7rem

i
    color: $primary-blue
    border: 0.1rem solid $secondary-pale-blue
    border-radius: 20px
    padding: 0.9rem 0.5rem
    margin: 0.4rem

    &:hover
        cursor: pointer
        color: white
        background-color: $primary-blue

footer p
    font-size: 10px
    color: $neutral-gray
    font-weight: $font-weight-light

    @media screen and (min-width: $media-breakpoint)
        font-size: 12px

nav
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 1.2rem

img
    width: 20rem
    height: 12rem
    margin-top: 1.6rem

    @media screen and (min-width: $media-breakpoint)
        width: 40rem
        height: 24rem   
        margin-top: 2.8rem

.bold
    font-weight: $font-weight-bold

.thin
    font-weight: $font-weight-light

.black
    color: black

.blue
    color: $primary-blue

.dark-blue
    color: $neutral-very-dark-blue

.gray
    color: $neutral-gray

.light-red
    color: $secondary-light-red

.pale-blue
    color: $secondary-pale-blue

.subtext
    font-size: 10px
