@import './font-awesome/scss/fontawesome.scss'
@import './font-awesome/scss/solid.scss'
@import './font-awesome/scss/brands.scss'
    
// Colors
$primary-blue: hsl(223, 87%, 63%)
$secondary-pale-blue: hsl(223, 100%, 88%)
$secondary-light-red: hsl(354, 100%, 66%)
$neutral-gray: hsl(0, 0%, 59%)
$neutral-very-dark-blue: hsl(209, 33%, 12%)
    
// Font
$font-family: "Libre Franklin", sans-serif
$font-size: 20px
$font-weight-light: 300
$font-weight-bold: 700

body
    display: flex
    flex-direction: column
    align-items: center
    font-family: $font-family
    font-size: $font-size

header
    margin-top: 4.5rem

    @media screen and (min-width: 768px)
        font-size: 32px

main
    margin-bottom: 7.3rem

section
    display: flex
    flex-direction: column
    align-items: center

section form
    display: flex
    flex-direction: column
    align-items: center
    margin: 2rem

h1
    font-size: 20px
    align-self: center
    margin-top: 2.4rem
    letter-spacing: 1px

h2
    font-size: 12px
    font-weight: $font-weight-light
    align-self: center
    margin: 0rem
    
button 
    background-color: $primary-blue
    height: 2.6rem
    min-width: 17.5rem
    border-radius: 20px
    margin: 0.7rem
    border-width: thin
    border-color: $primary-blue
    border-style: solid

button p
    color: white
    margin-top: 0.7rem

footer i:first-child
    padding: 0.9rem 0.7rem

i
    color: $primary-blue
    border: 0.1rem solid $secondary-pale-blue
    border-radius: 20px
    padding: 0.9rem 0.5rem
    margin: 0.4rem

footer p
    font-size: 10px

nav
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 1.2rem

img
    width: 20rem
    height: 12rem
    margin-top: 1.6rem

input
    height: 2.2rem
    min-width: 17rem
    border-radius: 20px
    border-width: thin
    border-color: $secondary-pale-blue
    border-style: solid

input::placeholder
    color: $neutral-gray
    font-weight: $font-weight-light
    font-size: 12px
    opacity: 40%
    padding-left: 1.8rem

.bold
    font-weight: $font-weight-bold

.thin
    font-weight: $font-weight-light

.black
    color: black

.blue
    color: $primary-blue

.dark-blue
    color: $neutral-very-dark-blue

.gray
    color: $neutral-gray

.light-red
    color: $secondary-light-red

.pale-blue
    color: $secondary-pale-blue

.subtext
    font-size: 10px
